body {
  padding-top: 20px;
  /* FIXME: Apply custom text color */
  /*color: #111;*/
}

img {
  max-width: 100%;
  height: auto;
}

#chart-view {
  min-height: 420px;
}

@media screen and (max-width: 1000px) {
  #chart-view {
    min-height: 0;
  }
}